{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy",
    "add-module-exports"
  ],
  "presets": [["env"], "stage-0"],
  "env": {
    "targets": {
      "node": "current"
    }
  }
}
