{
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "mocha": true
    },
    "plugins": [
        "import",
        "mocha"
    ],
    "rules": {
        "accessor-pairs": 2, 
        "arrow-parens": [2, "always"], 
        "arrow-spacing": [2, { 
            "before": true,
            "after": true
        }],
        "block-spacing": [2, "always"], 
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }], 
        "comma-dangle": [2, "never"], 
        "comma-spacing": [2, { "before": false, "after": true }], 
        "comma-style": [2, "last"], 
        "constructor-super": 2, 
        "curly": [2, "multi-line"], 
        "dot-location": [2, "property"], 
        "eol-last": 2, 
        "eqeqeq": [2, "allow-null"], 
        "generator-star-spacing": [2, { 
            "before": true,
            "after": true
        }],
        "handle-callback-err": [2, "^(err|error)$" ], 
        "indent": [2, 4], 
        "key-spacing": [2, { 
            "beforeColon": false,
            "afterColon": true
        }],
        "keyword-spacing": [2, { 
            "before": true,
            "after": true
        }],
        "linebreak-style": [2, "unix"], 
        "max-nested-callbacks": [1, 5], 
        "max-params": [1, 5], 
        "max-statements-per-line": [1, { 
            "max": 1
        }],
        "new-cap": [2, { 
            "newIsCap": true,
            "capIsNew": false
        }],
        "operator-linebreak": [2, "after", { 
            "overrides": {
                "?": "before",
                ":": "before"
            }
        }],
        "padded-blocks": [2, "never"], 
        "prefer-const":  [2], 
        "quotes": [1, "single"], 
        "semi": [2, "never"], 
        "semi-spacing": [2, { 
            "before": false,
            "after": true }
        ],
        "space-before-blocks": [2, "always"], 
        "space-before-function-paren": [2, "always"], 
        "space-in-parens": [2, "never"], 
        "space-infix-ops": 2, 
        "space-unary-ops": [2, { 
            "words": true,
            "nonwords": false
        }],
        "template-curly-spacing": [2, "never"], 
        "use-isnan": 2, 
        "valid-typeof": 2, 
        "wrap-iife": [2, "any"], 
        "yield-star-spacing": [2, "both"], 
        "yoda": [2, "never"] 
    },
    "extends": "eslint:recommended"
}
