{
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid"
}